{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple HTML HomePage</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
  <header class="header">
    <a href="#" class="logo">WNSGPUI</a>
    <nav class="nav-items">



      {% if user.is_authenticated %}
        {{user.username}}
      <a href="{% url 'home' %}">logout</a>
      <a href ="{% url 'policy' %}">policy</a>
      {% else %}
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="{% url 'home' %}">login</a>
      {% endif %}
    </nav>
  </header>